@model IEnumerable<Crud_CF_Jquery.Models.Employee>


<a asp-action="Create" asp-controller="Employee">Create</a>
<table class="table table-bordered">
    <tr>
        <th>Name</th>
        <th>Email</th>
        <th> Gender</th>
        <th> Mobile</th>
        <th> Department</th>
        <th>Action</th>
    </tr>

    @foreach (var emp in Model)
    {
        <tr>
            <td>@emp.Name</td>
            <td>@emp.Email</td>
            <td>@emp.Gender</td>
            <td>@emp.Mobile</td>
            <td>@emp.Department</td>
            <td>
                <button asp-action="Edit" asp-controller="Employee" asp-route-id="@emp.Emp_ID" >Edit</button> ||
                <button asp-action="Delete" asp-controller="Employee" asp-route-id="@emp.Emp_ID" onclick="return confirm('Are you sure want to delete this record?')" class="btn btn-danger">Delete</button>
            </td>
        </tr>
    }

</table>
    
